


<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to the Spirit Animal Generator!</h1>
                <p class="lead"><a href = "/animal/<%= @rand_num %>"> Tell me my spirit animal! </a></p>
                <ul class="list-unstyled">
                    <li>"Life will never be the same again" -Ellen Degeneres</li>
                    <li>"Hodor" -Hodor</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
