


<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>You're a perfect match with <%= @match_name %></h1>
                <img src="/images/<%= @match_pic%>">

                <h2>You should avoid <%= @avoid_name %></h2>
				<img src="/images/<%= @avoid_pic%>">

                <ul class="list-unstyled">
                    <li><a href="/">Go Back</a></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

 </div>
