


<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>You're a perfect match with <%= @match_name %></h1>
                <div class = "circle">
                	<img src="/images/<%= @match_pic%>" class= "img-circle">
                </div>
                <h2>You should avoid <%= @avoid_name %></h2>
                <div class = "circle">
					<img src="/images/<%= @avoid_pic%>" class= "img-circle">
				</div>

                <ul class="list-unstyled">
                    <li><a href="/" class="btn btn-info">Go Back </a></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

 </div>
